/* Buzz */
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(0) rotate(2deg);
    transform: translateX(0) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-0) rotate(-2deg);
    transform: translateX(-0) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(0) rotate(2deg);
    transform: translateX(0) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-0) rotate(-2deg);
    transform: translateX(-0) rotate(-2deg);
  }
}

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buzz-hover, .buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infin;
}

@mixin buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin buzz-hover {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infin;
}
