$black:		 #333333;

$green-1:  #39ba2c;
$green-2:  #5fd354;
$green-3:  #309626;
$green-4:  #e8ffe6;
$green-5:  #d9ffd6;

$yellow: 	 #dcde0a;
$yellow-2: #d6d73a;
$yellow-3: #b4b51a;

$orange:   #db9322;
$orange-2: #ed9b1a;
$orange-3: #c58117;
$orange-4: #ffeac9;
$orange-5: #ffe4ba;

$red: 		 #e23a3a;
$red-2:		 #eb3c3c;
$red-3:		 #b12424;
$red-4:		 #ffe6e6;
$red-5:		 #ffd6d6;

$pink: 		 #fb8282;
$pink-2:	 #dc7c7c;
$pink-3:	 #b55c5c;
$pink-4:	 #ffe6e6;
$pink-5:	 #ffd6d6;

$blue: 		 #484fdd;
$blue-2: 	 #3856d9;
$blue-3: 	 #21389d;

$bluel: 	 #0ec8f6;
$bluel-2:  #33c2e6;
$bluel-3:  #128ba9;
$bluel-4:  #e6faff;
$bluel-5:  #d6f7ff;

$purple:	 #b65db5;
$purple-2: #c254c1;
$purple-3: #8b2b8a;

$gray:	 #bababa;
$gray-2: #c1c1c1;
$gray-3: #8c8b8c;

$vk:			 #45759e;
$yt: 			 #b20000;
$in: 			 #806B59;
$rss: 		 #eb7a02;

$bg-page:  #f4f4f4;
